{% extends 'fronpage/main.html' %}
{% load static %}
{% block content %}
<main>
  <!-- section content begin -->
  <div class="uk-section uk-padding-remove-vertical">
    <div class="uk-container uk-container-expand">
      <div class="uk-grid" data-uk-height-viewport="expand: true">
        <div class="uk-width-3-5@m uk-background-cover uk-background-center-right uk-visible@m uk-box-shadow-xlarge" style="background-image: url({% static 'frontpage/img/in-signin-image.jpg' %});">
          
        </div>
        <div class="uk-width-expand@m uk-flex uk-flex-middle">
          <div class="uk-grid uk-flex-center">
            <div class="uk-width-3-5@m">
              <div class="uk-text-center in-padding-horizontal@s">
                <a class="uk-logo" href="/">
                  <img src="{% static 'frontpage/img/in-lazy.gif' %}" data-src="{% static 'frontpage/img/logo.png' %}" alt="logo" width="120" height="54" data-uk-img>
                </a>
                <p class="uk-text-lead uk-margin-small-top uk-margin-medium-bottom">Create an account</p>
                <!-- login form begin -->
                <form class="uk-grid uk-form" method="post">
                  {% csrf_token %}
                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-user fa-sm"></span>
                    <input class="uk-input uk-border-rounded" id="username" name="username" type="text" placeholder="Username" required>
                  </div>
                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-user fa-sm"></span>
                    <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Email" required>
                  </div>
                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-lock fa-sm"></span>
                    <input class="uk-input uk-border-rounded" id="password" name="pass1" type="password" placeholder="Password" required>
                  </div>
                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-lock fa-sm"></span>
                    <input class="uk-input uk-border-rounded" id="confirmpassword" name="pass2" type="password" placeholder="Confirm Password" required>
                  </div>
                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-user fa-sm"></span>
                    <input class="uk-input uk-border-rounded" id="Firstname" name="first-name" type="text" placeholder="First Name" required>
                  </div>
                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip fas fa-user fa-sm"></span>
                    <input class="uk-input uk-border-rounded" id="Lastname" name="last-name" type="text" placeholder="Last Name" required>
                  </div>

                  <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <select class="uk-input uk-border-rounded" name="currency" id="floatingSelect" aria-label="State" required>
                                 <option value="USD" selected="">USD</option>
                                  <option value="GBP"> GBP</option>
                                  <option value="EUR"> EUR</option>
                                  <option value="AUD"> AUD</option>
                              </select>
                  </div>

                  <div class="uk-margin-small uk-width-auto uk-text-small">
                    <label><input class="uk-checkbox" type="checkbox" required> I accept that I am 18 years or older and accept Terms & Conditions and Privacy Policy</label>
                  </div>

                  
                  <div class="uk-margin-small uk-width-1-1">
                    <button class="uk-button uk-width-1-1 uk-button-primary uk-border-rounded uk-float-left" type="submit" name="submit">Sign Up</button>
                  </div>
                </form>
                <!-- login form end -->
                
                
                <span class="uk-text-small">Have an account? <a href="{% url 'login' %}">Login here</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section content end -->
</main>
{% endblock content %}